RESEARCH_PROVIDER=orkg
# If you want to use Firecrawl (default) then comment the line above, and uncomment below:
# RESEARCH_PROVIDER=firecrawl

FIRECRAWL_KEY="your key here"
FIRECRAWL_BASE_URL=https://api.firecrawl.dev/v1
# If you want to use your self-hosted Firecrawl, add the following below:
# FIRECRAWL_BASE_URL="http://localhost:3002"
# FIRECRAWL_CONCURRENCY="2"

OPENAI_KEY="your key here"


